<style>
  #map-container {
    margin-top: 80px;
    height: 600px;
    border: 3px solid black;
  }

  #map-canvas {
    height: 594px;
    width: 100%;
  }
</style>
<div id="map-container">
  <div id="map-canvas"></div>
</div>




